{{template "admin" .}}
{{define "css"}}
<style>
    .form-check {
        margin-left: 2rem;
    }

    .form-check .form-check-label {
        margin-left: 0.5rem;
    }
</style>
{{end}}
{{define "page-title"}}
Calc Midnight Shards
{{end}}

{{define "content"}}
<div class="col-md-6">
    <div class="container mt-5">
        <form id="levelForm" action="/midnight-shards" method="post" class="mb-4">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="form-group">
                <label for="level">Level</label>
                <input type="number" class="form-control" id="level" name="level" min="1" value="{{index .IntMap "level"}}" required>
            </div>
            <div class="form-group">
                <label for="qty">Quantity</label>
                <input type="number" class="form-control" id="qty" name="qty" min="1" max="80" value="{{index .IntMap "quantity"}}" required>
            </div>
        </form>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Experience</th>
                    <td id="exp">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}
{{define "js"}}
<script>
    $(document).ready(function () {
        $('#level').on('change', function () {
            $('#levelForm').submit();
        });

        $('#qty').on('change', function () {
            $('#levelForm').submit();
        });

        $('#levelForm').on('submit', function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            console.log(formData)
            $.ajax({
                type: 'POST',
                url: '/midnight-shards',
                data: formData,
                success: function (response) {
                    $('#exp').text(response.experience);
                }
            });
        });
    });
</script>
{{end}}